<!--Basic credits page-->
{% extends 'base.html' %}

{% block page_title %}Supreme Court Citation Lookup Credits{% endblock %}

{% block head_extra %}
<div></div>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="card shadow p-4">
      <h1 class="mb-4">Credits</h1>
      <p>
        This project was inspired by the 
        <a href="https://www.webofscience.com/wos/" target="_blank">Web of Science</a> and the 
        <a href="https://www.courtlistener.com/visualizations/scotus-mapper/" target="_blank">Court Listener Supreme Court Citation Networks Project</a>.
      </p>
      <p>
            The raw citation data was taken from 
            <em>Generative Dynamics of Supreme Court Citations: Analysis with a New Statistical Network Model</em> by
            Schmid, Chen, and Desmarais (2021), and was initially created by Lissner and Carver
            using Court Listener data.
      </p>
      <p>
            Unfortunately, the data is extremely patchy and only goes until 2003. More recent data is available on Court Listener, but it has so 
            <em>much</em> data that it is impractical to search quickly (observe the slow speed of the Citation Network Project results), it contains many 
            data artifacts that must be filtered (and further slow search),
            and has extremely patchy citation records for very old cases compared to Lissner and Carver.
      </p>
      <p>
            Regardless, in the long term, it is likely a more powerful data source, and I hope to integrate it in the future.
      </p>

      <p>
            This website extensively uses Cytoscape.js, a graph theory library for 
            visualisation and analysis to generate its graphs 
            (<a href="http://bioinformatics.oxfordjournals.org/content/32/2/309">
                  Bioinformatics (2016) 32 (2): 309-311 first published 
                  online September 28, 2015 doi:10.1093/bioinformatics/btv557</a>).
      </p>
      <p class="mt-4 text-muted">
            Created by Jay Sweitzer-Shalit, Harvard Class of 2028, for Spring CS 50. Any and all errors are 
            my own. This website is not legal advice. Learn more about Jay at 
            <a href="www.linkedin.com/in/jay-sweitzer-shalit-5a4a68249" target="_blank">here</a>
      </p>
    </div>
  </div>

{% endblock %}